/* GENERAL */

html {
    scroll-behavior: smooth;    
  }
 
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

/* GRID TEMPLATE */

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'nav' 'main-content' 'footer';
}

#nav {
    grid-area: 'nav';
    background-color: rgba(255, 255, 255, 0.986);
    color: black;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.7);
    z-index: 100;
    padding: 10px 15px 10px 0;
}

#main-content {
    grid-area: 'main-content';
    background: linear-gradient(66deg, #106ba8 0%, #27c950 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto;
    grid-template-areas: 'welcome-section' 'experience' 'skills-section' 'projects';
    align-items: center;
}

#footer {
    grid-area: 'footer';
    height: 60vh;
    background-color: #4D4545;
    padding: 15px 5px 10px 5px;
    text-align: center;
}


/* SECTIONS */

#welcome-section {
    grid-area: 'welcome-section';
    padding: 10px 5px 10px 5px;
    text-align: center;
    color: rgb(248, 245, 245);
}

#timeline-section {
    grid-area: 'experience';
    background-color: #eee;
    padding: 100px 10px 0px 10px;
    text-align: center;
}

#skills-section {
    grid-area: 'skills-section';
    background-color: white;
    padding: 100px 0px 10px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: '1'
                         '2' ;
}

#projects {
    grid-area: 'projects';
    background: linear-gradient(to bottom, #bcc0f7, #a7acee);
    padding-top: 100px;
    width: 100%;
}


/* SPECIFIC TAGS FOR NAVBAR */

#nav h2 {
    margin-right: auto;
    padding-left: 3px;
}

#navbar ul li {
    display: inline-block;
    padding: 12px 22px 12px 3px;
}

#navbar ul li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#navbar ul li a:hover {
    color: #106ba8;
}

#nav img {
    max-height: 65px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0px 5px 0px 10px;
}


/* SPECIFIC TAGS FOR TEXT */

h1 {
    font-size: 4rem;
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 40px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}


/* SPECIFIC TAGS FOR BUTTON */

button {
    background-color: #106ba8;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #27c950;
}


/*timeline */

.timeline {
    position: relative;
    background-color: #eee;
}

.timeline::before {
    content: "";
    background: #C5CAE9;
    width: 6px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 50px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 10px 30px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: "";
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 49%;
    padding: 10px 10px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(acc.jpg) center center no-repeat;
    background-size: cover;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 15px;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.date {
    background: #106ba8;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 40px;
    }
    .timeline .timeline-img {
        left: 40px;
    }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 50px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}


/* SKILLS*/

#skills-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

#skills-certification {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
}

.fab {
    font-size: 130px;
}
.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js {
    color: #f0db4f;
}

.fa-aws {
    color: #FF9900;
}

/* PROYECTOS */

.contenedor_cards {
    width: 100%;
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.cards__item {
    display: flex;
    padding: 1rem;
    margin: auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
}

.btn--block {
    margin: auto;
    display: block;
    width: 50%;
}

@media (min-width: 768px) {
    .cards__item {
        width: 44%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover .card__image {
    filter: contrast(100%);
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.card__image--1 {
    background-image: url(1.jpg);
}

.card__image--2 {
    background-image: url(2.jpg);
}

.card__image--3 {
    background-image: url(3.jpg);
}

.card__image--4 {
    background-image: url(4.jpg);
}

.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
